<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form @submit.prevent="login">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" v-model="form.email" placeholder="email" />

                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" v-model="form.password" placeholder="Password" />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Login</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            
        },
        data(){
            return {
                form: {
                    email: 'simon@gmail.com',
                    password: 'password'
                }
            }
        },
        methods: {
            login(){

                

                axios.post('/api/auth/login', this.form)
                    .then((response) => {
                        localStorage.setItem('token', 'Bearer ' +  response.data.access_token)
                    });
            }
        }
    }
</script>
